@page "/registration"
@using Microsoft.Extensions.Logging
@using OpenRace.Features.Registration
@using System.Globalization

@inherits OpenRace.Features.Auth.ComponentBaseWithSession

@inject AppConfig AppConfig
@inject NavigationManager NavigationManager
@inject RegistrationService RegistrationService
@inject ILogger<RegistrationForm> Logger
@inject IToastService ToastService

<h2>Регистрация на забег в поддержку строительства храма святого князя Владимира в Новогиреево</h2>
<h5>ПО ВСЕМ ВОПРОСАМ ОБРАЩАТЬСЯ ПО ТЕЛЕФОНУ: <a href="tel:+79645522761">8-964-552-27-61</a> Дмитрий</h5>
@if (Session.IsAuthorized())
{
	<EditForm Model="@model" OnValidSubmit="@HandleValidSubmit">
		<DataAnnotationsValidator/>
		<table>
			<tr>
				<td>Имя:</td>
				<td>
					<InputText class="form-control" @bind-Value="model.FirstName"></InputText>
				</td>
			</tr>
			<tr>
				<td>Фамилия:</td>
				<td>
					<InputText class="form-control" @bind-Value="model.LastName"></InputText>
				</td>
			</tr>
			<tr>
				<td>Отчество:</td>
				<td>
					<InputText class="form-control" @bind-Value="model.PatronymicName"></InputText>
				</td>
			</tr>
			<tr>
				<td>Возраст:</td>
				<td>
					<InputNumber class="form-control" @bind-Value="model.Age"></InputNumber>
				</td>
			</tr>
			<tr>
				<td>Пол:</td>
				<td>
					<InputSelect class="form-control" @bind-Value="model.Gender">
						<option value="">Выбор</option>
						<option value="Male">Мужской</option>
						<option value="Female">Женский</option>
					</InputSelect>
				</td>
			</tr>
			@* <tr> *@
			@* 	<td>Email:</td> *@
			@* 	<td> *@
			@* 		<InputText class="form-control" @bind-Value="model.Email"></InputText> *@
			@* 	</td> *@
			@* </tr> *@
			<tr>
				<td>Phone:</td>
				<td>
					<InputText class="form-control" @bind-Value="model.Phone"></InputText>
				</td>
			</tr>
			<tr>
				<td>Дистанция:</td>
				<td>
					<InputSelect class="form-control" @bind-Value="model.DistanceKm">
						<option value="">Выбор</option>
					@foreach (var distanceInfo in AppConfig.AvailableDistances)
					{
						<option value="@(distanceInfo.DistanceKm)" class="form-control">@(distanceInfo.Name)</option>
					}
					</InputSelect>
				</td>
			</tr>
			<tr>
				<ValidationSummary/>
			</tr>
			<tr>
				<input class="btn btn-outline-primary" type="submit" value="Зарегистрироваться">
			</tr>
		</table>
	</EditForm>
}
else
{
	@NavigationManager.ToAbsoluteUri(AppConfig.SiteUrl)
}

@code {
	public const string Identifier = "registration";
	private readonly RegistrationModel model = new();

	private bool _busy;
	private async Task HandleValidSubmit()
	{
		if(_busy) return;
		try
		{
			_busy = true;
			ToastService.ShowInfo("Регистрация...");
			if (Session.IsAuthorized())
			{
				model.RegisteredBy = Session.UserName;
			}
			model.Email = " "; //TODO
			var redirectUri = await RegistrationService.RegisterMemberWithoutPayment(
				model, NavigationManager.BaseUri, CultureInfo.CurrentCulture);
			NavigationManager.NavigateTo(redirectUri);
		}
		finally
		{
			_busy = false;
		}
	}

}