@using OpenRace.Pages
@inject AppConfig AppConfig

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">@AppConfig.Title</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
	<ul class="flex-column">
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="@(AppConfig.SiteUrl)" Match="NavLinkMatch.All">
				<span class="oi oi-home" aria-hidden="true"></span> Сайт
			</NavLink>
		</li>
		
		@* <li class="nav-item px-3"> *@
		@* 	<NavLink class="nav-link" href="@(AppConfig.SiteUrl)"> *@
		@* 		<span class="oi oi-info" aria-hidden="true"></span> Информация *@
		@* 	</NavLink> *@
		@* </li> *@
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="@(RegistrationForm.Identifier)">
				<span class="oi oi-plus" aria-hidden="true"></span> Регистрация
			</NavLink>
		</li>
		@* <li class="nav-item px-3"> *@
  @*       	<NavLink class="nav-link" href="contacts"> *@
  @*       		<span class="oi oi-phone" aria-hidden="true"></span> Контакты *@
  @*       	</NavLink> *@
  @*       </li> *@
		<li class="nav-item px-3">
        	<NavLink class="nav-link" href="auth">
        		<span class="oi oi-account-login" aria-hidden="true"></span> Авторизация
        	</NavLink>
        </li>
		<li class="nav-item px-3">
        	<NavLink class="nav-link" href="panel">
        		<span class="oi oi-list-rich" aria-hidden="true"></span> Ручная оплата
        	</NavLink>
        </li>
		<li class="nav-item px-3">
        	<NavLink class="nav-link" href="statistics">
        		<span class="oi oi-list-rich" aria-hidden="true"></span> Статистика
        	</NavLink>
        </li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="easydata">
				<span class="oi oi-list-rich" aria-hidden="true"></span> Редактор
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="referee/distances">
				<span class="oi oi-list-rich" aria-hidden="true"></span> Судейство
			</NavLink>
		</li>
		<li class="nav-item px-3">
            <NavLink class="nav-link" href="referee/results">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Результаты
            </NavLink>
        </li>
	</ul>
</div>

@code {
	private bool collapseNavMenu = true;

	private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}